<!DOCTYPE html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
	<!-- Title: Will change based on the actual slogan or whatever -->
	<title><%- title %></title>

	<!-- Meta Stuff for the Browser to render correctly -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Other Meta Stuff for seo/kicks -->
	<meta name="description" content="Plant.Works Industrial Internet of Things (IIoT) / Industry 4.0 Portal">

	<!-- Mandatory favicon.ico link -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<!-- Ember Addon generated headers -->
	<link href="//fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto+Serif:400,400i,700,700i&subset=devanagari" rel="stylesheet" type="text/css" media="all">
	<link href="//fonts.googleapis.com/css?family=Keania+One" rel="stylesheet" type="text/css" media="all">
	<link href="/static_assets/material.css" rel="stylesheet" type="text/css" media="all">

	<!-- Vendor  styles -->
	<link integrity="" rel="stylesheet" href="/css/vendor.css">

	<!-- jquery plugin styles -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css" rel="stylesheet" type="text/css" media="all">

	<!-- Application Styles -->
	<link integrity="" rel="stylesheet" href="/css/plantworks.css">

	<!-- Ember Addon generated headers -->


	<!-- Miscellaneous client-side data -->
	<script type="application/javascript">
		window.developmentMode = <%= developmentMode %>;
	</script>
</head>

<body class="bg-grey layout-column layout-align-start-stretch">
	<!-- Ember Addon generated body -->


	<!-- Ember stuff... -->
	<script src="/js/vendor.js"></script>

	<!-- Ember template compiler - for dynamic compilation of templates, whenever we require it... -->
	<script type="application/javascript" src="/ember-template-compiler.js"></script>

	<!-- jquery plugin stuff... -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>

	<!-- Setup global stuff, DEBUG flags and global error handlers -->
	<script type="application/javascript">
	$.ajaxSetup({
		'cache': <%= !developmentMode %>,
		'crossDomain': true,
		'xhrFields': {
			'withCredentials': true
		}
	});

	Ember.ENV.RAISE_ON_DEPRECATION = false;
	Ember.ENV.LOG_STACKTRACE_ON_DEPRECATION = <%= developmentMode %>;
	Ember.run.backburner.DEBUG = <%= developmentMode %>;
	</script>

	<!-- Primus - realtime websocket connection stuff -->
	<script type="application/javascript" src="/websockets/primus.js"></script>

	<!-- App.js - The Ember App Definitions -->
	<script src="/js/plantworks.js"></script>

	<!-- Ember Addon generated body -->

		<div id="ember-basic-dropdown-wormhole"></div>


	<div id="plant-works-wormhole"></div>



	<!-- Setup the ember routes, and start the App -->
	<script type="application/javascript">
		window.PlantWorksApp = require('plantworks/app')['default'].create({
			"LOG_RESOLVER": <%= developmentMode %>,

			"LOG_TRANSITIONS": <%= developmentMode %>,
			"LOG_TRANSITIONS_INTERNAL": <%= developmentMode %>,

			"LOG_ACTIVE_GENERATION": <%= developmentMode %>,
			"LOG_VIEW_LOOKUPS": <%= developmentMode %>,

			"LOG_BINDINGS": <%= developmentMode %>,

			"name": "plantworks",
			"version": "2.19.8"
		});
	</script>
</body>

</html>
